.DS_Store
__pycache__/
*.pyc
output/
dist/*
!dist/
!dist/claudesona-emotion-sprites-1.0.1.zip
!dist/sona-emotion-sprites-1.1.1.zip
!dist/sona-emotion-sprites-1.1.3.zip
!dist/sona-emotion-sprites-1.1.4.zip
!dist/sona-emotion-sprites-latest.zip
secret.txt
